<section>
    <mat-card >
    <div id="control-field">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
        </mat-form-field>
       
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let patient"> {{patient.id}} </td>
          </ng-container>
    
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let patient"> {{patient.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let patient"> {{patient.email}} </td>
          </ng-container>
    
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let patient"> {{patient.address}} </td>
          </ng-container> 
    
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let patient"> {{patient.gender}} </td>
          </ng-container> 
    
          <ng-container matColumnDef="birth_date">
            <th mat-header-cell *matHeaderCellDef> Birth Date </th>
            <td mat-cell *matCellDef="let patient"> {{patient.birthDate.split('T')[0]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="edit_button">
            <th mat-header-cell *matHeaderCellDef > View </th>
            <td mat-cell *matCellDef="let patient"> 
                <button  [id]="'patient_edit_'+patient.id" mat-button color="accent" (click)="viewPatient($event)">
                    <mat-icon [id]="'patient_edit_'+patient.id">article</mat-icon>
                </button>
            </td>
          </ng-container>
    
         
          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
    </section>