<div id="main-dialog">
    <h1 mat-dialog-title style="display: flex; align-items:center; justify-content:space-between">
      Edit medication
      <i class="material-icons" style="cursor: pointer" [mat-dialog-close]="false">
        close
      </i>
    </h1>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <div class="form-field-group">

           

            <mat-form-field>
              <input  matInput placeholder="Name" [(ngModel)]="myMed.name" required name="name" >
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Dosage(mg)" [(ngModel)]="myMed.dosage" required  name="dosage" >
            </mat-form-field>

           
   
        </div>

        <div class="form-field-group" >

            <mat-form-field id="side-effects-area">
            <textarea matInput placeholder="Side effects" [(ngModel)]="myMed.sideEffects" name="sideEffects" >
            </textarea>
            </mat-form-field> 

           
            
        </div>


        <div mat-dialog-actions id="user-form-control">
            <button mat-raised-button type="submit" [disabled]="f.invalid"  color="primary">Update </button>
            <button mat-raised-button mat-button-base [mat-dialog-close]="false" color="accent">Cancel</button>
        </div>

    </form>

</div>